Repository nbrugger-tgm/java-spring-template, changes with the labels that .github/labeler.yml gives for each.
All labels: api, database, documentation, build, ci cd

fix: bad tagging
  .github/workflows/finilize_pr.yml
Labels: ci cd

Create dependabot.yml
  .github/dependabot.yml
Labels: ci cd

ci: make dependabot merge to `dev`
  .github/dependabot.yml
Labels: ci cd

fix: dependabot unable to merge
  .github/workflows/process-pr.yml
Labels: ci cd

feat: atutomerge master on release
  .github/workflows/after_release.yml
Labels: ci cd

ci: bump action to self-fixed version
  .github/workflows/review.yml
Labels: ci cd

fix: allow 'main' and 'master'
  .github/workflows/after_release.yml
Labels: ci cd

fix: dependabot being rejected
  .github/workflows/process-pr.yml
Labels: ci cd

fix: pull number not found
  .github/workflows/finalize_review.yml
Labels: ci cd

style: name `after_review` workflow
  .github/workflows/finalize_review.yml
Labels: ci cd

fix: labeling
  .github/workflows/finalize_review.yml
Labels: ci cd

perf: prevent useless client build
  .github/workflows/finilize_pr.yml
Labels: ci cd

fix: open api skipping
  .github/workflows/finilize_pr.yml
Labels: ci cd

feat: pre-release automation
  .github/workflows/create_pre_release.yml
Labels: ci cd

fix: prerelease creation
  .github/workflows/create_pre_release.yml
Labels: ci cd

fix: junit test version
  .github/workflows/create_release.yml
  submodule.gradle
Labels: build, ci cd

fix: bad tag format
  cz.json
Labels: none

build: add backend module
  backend/build.gradle
  settings.gradle
Labels: build

perf: only re-generate OAS when source changes
  .github/workflows/finilize_pr.yml
Labels: ci cd

build: refactor structure for arch testing
  modules/api/build.gradle
  modules/api/src/main/java/com/domain/projectname/api/controllers/ApiInfoController.java
  modules/api/src/main/java/com/domain/projectname/api/filters/ApiErrorHandler.java
  modules/app/build.gradle
  modules/app/src/intTest/java/com/example/project/controllers/GreetingControllerImplTest.java
  modules/app/src/main/java/com/example/project/controllers/ApiController.java
  modules/app/src/main/java/com/example/project/controllers/GreetingControllerImpl.java
  modules/backend/build.gradle
  modules/backend/src/main/java/com/domain/projectname/BackendSpringConfig.java
  modules/backend/src/main/java/com/domain/projectname/entities/BaseEntity.java
  modules/backend/src/main/java/com/domain/projectname/entities/todo/TodoEntry.java
  modules/backend/src/main/java/com/domain/projectname/entities/todo/TodoList.java
  modules/backend/src/main/java/com/domain/projectname/models/ErrorDto.java
  modules/backend/src/main/java/com/domain/projectname/models/TodoEntryDTO.java
  modules/backend/src/main/java/com/domain/projectname/models/VersionDto.java
  modules/backend/src/main/java/com/domain/projectname/repositories/TodoListRepository.java
  modules/backend/src/main/java/com/domain/projectname/repositories/TodoRepository.java
  modules/backend/src/main/java/com/domain/projectname/services/TodoService.java
  modules/backend/src/main/java/com/domain/projectname/services/TodoServiceImpl.java
  modules/build.gradle
  modules/integrationTests.gradle
  modules/submodule.gradle
  test
  test2
Labels: build

feat: add backend arch tests
  modules/backend/build.gradle
  modules/backend/src/archTest/java/com/domain/projectname/arch/CodingRuleTest.java
  modules/backend/src/archTest/java/com/domain/projectname/arch/DtoTest.java
  modules/backend/src/archTest/java/com/domain/projectname/arch/EntityTest.java
  modules/backend/src/archTest/java/com/domain/projectname/arch/IgnoreTests.java
  modules/backend/src/archTest/java/com/domain/projectname/arch/LayerArchitectureTest.java
  modules/backend/src/archTest/java/com/domain/projectname/arch/MethodConditions.java
  modules/backend/src/archTest/java/com/domain/projectname/arch/ModelTest.java
  modules/backend/src/archTest/java/com/domain/projectname/arch/RepositoriesTest.java
  modules/backend/src/archTest/java/com/domain/projectname/arch/ServiceTest.java
  modules/backend/src/main/java/com/domain/projectname/models/TodoEntryDTO.java
Labels: build

feat: add todo (example) backend
  modules/backend/src/main/java/com/domain/projectname/entities/todo/TodoEntry.java
  modules/backend/src/main/java/com/domain/projectname/entities/todo/TodoList.java
  modules/backend/src/main/java/com/domain/projectname/models/ErrorDto.java
  modules/backend/src/main/java/com/domain/projectname/models/TodoEntryDto.java
  modules/backend/src/main/java/com/domain/projectname/models/TodoListDto.java
  modules/backend/src/main/java/com/domain/projectname/models/VersionDto.java
  modules/backend/src/main/java/com/domain/projectname/repositories/TodoListRepository.java
  modules/backend/src/main/java/com/domain/projectname/repositories/TodoRepository.java
  modules/backend/src/main/java/com/domain/projectname/services/TodoService.java
  modules/backend/src/main/java/com/domain/projectname/services/TodoServiceImpl.java
Labels: none

feat: add integration test
  modules/backend/src/intTest/java/com/domain/projectname/IntegrationTest.java
  modules/backend/src/intTest/java/com/domain/projectname/services/todo/TodoServiceIntTest.java
Labels: none

refactor: move arch tests
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/CodingRuleTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/DtoTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/EntityTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/IgnoreTests.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/LayerArchitectureTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/MethodConditions.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/ModelTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/RepositoriesTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/ServiceTest.java
Labels: none

feat: add todo api
  modules/api/src/main/java/com/domain/projectname/api/controllers/GreetingController.java
  modules/api/src/main/java/com/domain/projectname/api/controllers/TodoController.java
Labels: none

feat: add todo unit test
  modules/backend/src/test/java/com/domain/projectname/services/TodoServiceTest.java
Labels: none

feat: add API arch test
  modules/api/src/archTest/java/com/domain/projectname/api/architecture/ControllerTest.java
Labels: none

docs: add api annotations
  modules/api/src/main/java/com/domain/projectname/api/controllers/ApiInfoController.java
Labels: none

add missing files
  modules/api/build.gradle
  modules/app/src/intTest/java/com/example/project/controllers/ApiControllerTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/DtoTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/EntityTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/IgnoreTests.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/LayerArchitectureTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/MethodConditions.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/ModelTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/RepositoriesTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/ServiceTest.java
  modules/backend/src/archTest/java/com/domain/projectname/backend/arch/SpringConventionTest.java
Labels: build

docs: add design rule doc
  DESIGN.adoc
Labels: none

finalize arch testing
  modules/api/build.gradle
  modules/api/src/archTest/java/com/domain/projectname/api/architecture/ControllerTest.java
  modules/api/src/main/java/com/domain/projectname/api/controllers/TodoController.java
  modules/app/src/intTest/java/com/domain/projectname/ErrorHandlerTest.java
  modules/app/src/intTest/java/com/domain/projectname/controllers/ApiControllerTest.java
  modules/app/src/main/java/com/domain/projectname/ProjectName.java
  modules/app/src/main/java/com/domain/projectname/controllers/ApiController.java
  modules/app/src/main/java/com/domain/projectname/controllers/TodoControllerImpl.java
  modules/app/src/main/java/com/domain/projectname/errorhandler/ErrorHandler.java
  modules/app/src/main/java/com/example/project/ErrorHandler.java
  modules/app/src/main/resources/application.properties
  modules/backend/build.gradle
  modules/backend/src/main/java/com/domain/projectname/entities/todo/TodoList.java
  modules/backend/src/main/java/com/domain/projectname/general/verify/IsColor.java
  modules/backend/src/main/java/com/domain/projectname/models/TodoListDto.java
  modules/backend/src/main/java/com/domain/projectname/services/TodoService.java
  modules/backend/src/main/java/com/domain/projectname/services/TodoServiceImpl.java
Labels: build

add intellij changes
  .idea/dataSources.xml
  .idea/modules/modules/api/project-name.api.archTest.iml
  .idea/modules/modules/api/project-name.api.main.iml
  .idea/modules/modules/app/project-name.app.archTest.iml
  .idea/modules/modules/app/project-name.app.iml
  .idea/modules/modules/app/project-name.app.test.iml
  .idea/modules/modules/backend/project-name.backend.archTest.iml
  .idea/modules/modules/backend/project-name.backend.intTest.iml
  .idea/modules/modules/backend/project-name.backend.test.iml
  .idea/runConfigurations/Run_API.xml
  .jpb/jpb-settings.xml
Labels: none

ci(gh): fix testing
  .github/actions/gradle/action.yml
  .github/workflows/build.yml
Labels: ci cd

.github/labeler.yml:

api:
  - 'api/**'
database:
  - '**/*.sql'
documentation:
  - "**/*.(md|asciidoc|drawio)"
  - "doc/**"
  - "docs/**"
build:
  - "**/*.gradle"
ci cd:
  - ".github/**/*.yml"
